<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saurabh.restaurantapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rest_orders"></activity>
        <activity android:name=".rest_parcel" />
        <activity android:name=".Cust_bill" />
        <activity android:name=".cust_parcel" />
        <activity android:name=".cust_table" />
        <activity android:name=".cust_menu_list" />
        <activity android:name=".cust_options" />
        <activity android:name=".cust_rest_list" />
        <activity android:name=".rest_menu" />
        <activity android:name=".rest_option" />
        <activity android:name=".resto_signup" />
        <activity android:name=".cust_signup" />
        <activity android:name=".Signin_custo" />
        <activity android:name=".Signin_rest" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>